// import variables
@import "./utils/mixin";

// Loader
.loader {

    $loader-animation-length: 2s;
    $loader-animation-loop-length: 1.5s;

    @keyframes loader {
        0% {
            opacity: 1;
        }

        90% {
            opacity: 1;
        }

        99% {
            opacity: 0;
            transform: scale(1);
        }

        100% {
            opacity: 0;
            transform: scale(0);
        }
    }

    @keyframes fadeInUp {
        0% {
            opacity: 0;
            transform: scaleY(1);
        }

        33% {
            opacity: 1;
            transform: scaleY(1.4);
        }

        64% {
            opacity: .1;
            transform: scaleY(1);
        }

        100% {
            opacity: 0;
            transform: scaleY(.3);
        }
    }

    @keyframes rotate1 {
        0% {
            transform: rotate(0deg);
        }

        50% {
            transform: rotate(22deg);
        }
    }

    @keyframes rotate2 {
        0% {
            transform: rotate(0deg);
        }

        50% {
            transform: rotate(-22deg);
        }
    }
    
    @include flex-col;

    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.90);
    opacity: 1;
    animation: $loader-animation-length loader forwards;
    animation-delay: 0.2s;

    & .wineglass {

        height: 26px;
        position: relative;

        &center {
            display: flex;
            flex-direction: row;
        }   

        &:after {
            content: '';
            position: absolute;
            top: 37px;
            left: 5px;
            width: 20px;
            height: 2px;
            background: #cdfffd;
            box-shadow: 0 0 1px black;
        }

        & .top {
            background: #cdfffd;
            width: 30px;
            height: 26px;
            border-radius: 0 0 36px 36px;
            box-shadow: 0 0 1px black;
        
            &:after {
                content: '';
                position: absolute;
                top: 25px;
                left: 12px;
                width: 6px;
                height: 13px;
                background: #cdfffd;
                box-shadow: 0 0 1px black;
            }
            &:before {
                content: '';
                position: absolute;
                left: 2.5px;
                bottom: 2px;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                background: linear-gradient(transparent 50%, #c60000 50%);
            }            
        }
        
        &.left {
            display: inline-block;
            margin-right: 10px;
            animation: rotate1 $loader-animation-loop-length cubic-bezier(.39, 1.52, .46, .92) infinite;
            & .top:before {
                animation: rotate2 $loader-animation-loop-length infinite;
            }
        }

        &.right {
            display: inline-block;
            animation: rotate2 $loader-animation-loop-length cubic-bezier(.39, 1.52, .46, .92) infinite;

            & .top:before {
                animation: rotate1 $loader-animation-loop-length infinite;
            }
        }
    }

    & ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 70px;
        height: 25px;
        position: relative;
        opacity: 0;
        animation: $loader-animation-loop-length fadeInUp infinite;
    }

    & li {
        width: 6px;
        height: 15px;
        background: black;
        position: absolute;
        box-shadow: 0 0 1px black;
        transform-origin: bottom;
    
        &:nth-child(1) {
            left: 26px;
            bottom: 5px;
            transform: rotate(-35deg);
        }

        &:nth-child(2) {
            left: 34px;
            bottom: 8px;
        }

        &:nth-child(3) {
            left: 42px;
            bottom: 5px;
            transform: rotate(35deg);
        }
    }

}

