@mixin titled-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1.8rem;
    padding: 50px 25px 70px 25px;

    @media screen and (min-width:$breakpoint-desktop) {
        padding: 50px 25px 80px 25px;
    }
}

@mixin flex-col($align: center, $justify: center) {
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $align;
}

@mixin flex-row($align: center, $justify: center) {
    display: flex;
    flex-direction: row;
    justify-content: $justify;
    align-items: $align;
}

@mixin centered ($width: 100%) {
    max-width: $width;
    margin: 0 auto;
}