.like_icon {
    font-size: 32px;
    width: auto;
    position: relative;  

    & .heart {
        position: absolute;
        right: 0;
    
        &.back {
            color: black;
            opacity: 1;
            transition: opacity 0.3s ease-in-out;

            &:hover {
                opacity: 0;
            }
        }
        
        &.front {
            //color: var(--SecondaryColor);
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
            background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            //color:green;

            &:hover {
                //color: var(--PrimaryColor);
                //color: green;
                opacity: 1;
                transform: scale(1.05);
                cursor: pointer;
            }
        } 
    }
}