/*--- Color Variables and font style ---*/

:root {
    /*--- Couleur pour l'intérieur des flèches, le text du bouton "Explorez les menus", les cercles des numéros 1,2 et 3 et les iconnes quand on séléctionne dans la partie "Fonctionnement", et le dégrader ---*/
    --PrimaryColor: #9356DC;

    /*-- 2ème couleur pour le dégrader ---*/
    --SecondaryColor: #FF79DA;

    /*--- Couleur pour le fond de "Nouveau', le fond du cercle du "+", le fond de la sélection du plat et la couleur du "coché", et la ligne sous les éléments du menu---*/
    --TertiaryColor-Main: #99E2D0;

    /*--- Couleur pour le "+" et le mot "Nouveau" ---*/
    --TertiaryColor-Secondary: #008766;

    --jesaitpas1: #89C8FA;
    --jesaitpas2: #003A68;

    /*--- pour le logo en text ---*/
    --font_text: 'Roboto', sans-serif;

    /*--- pour le text en générale ---*/
    --font_logo: 'Shrikhand', cursive;

    /*--- Couleur de fond du footer ---*/
    --BckgrndColorFooter: #353535;

    /*--- Couleur de fond de la recherche et de la partie restaurants ---*/
    --SearchAndRestauBckgrndColor: #D2D2D2;

    /*--- ---*/
    --BckgrndDefalutColorFunctioningBtn: #F7F7F7;
}

/*--- Reset internet Browser ---*/
* {
    margin: 0;
    padding: 0;
}

/*--- Site margin default ---*/
body {
    color: #000000;
    font-family: var(--font_text);
}

main {
    margin-top: 63px;
}

/*--- Site font weight ---*/

h1 {
    font-size: 30px;
    font-weight: 400;
    font-family: var(--font_logo);
}

h2, h3 {
    font-weight: 700;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

p {
    font-weight: 300;
    font-size: 17px;
}

a {
    text-decoration: none;
}

/*--- Cursor pointer ---*/
.GradientBtn, .NavArrow {
    cursor: pointer;
}

/*--- Loader ---*/
/*.loader {         je n'arrive pas à arreter le loader !
    position: fixed;
    flex-direction: column;
    z-index: 10000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.90);
    animation: loader 0.01s;
    animation-delay: 1.75s;
    animation-fill-mode: both;
}

.wineglasscenter {
    display: flex;
    flex-direction: row;
}

.wineglass {
    height: 26px;
    position: relative;
}

.wineglass:after {
    content: '';
    position: absolute;
    top: 37px;
    left: 5px;
    width: 20px;
    height: 2px;
    background: #cdfffd;
    box-shadow: 0 0 1px black;
}

.top {
    background: #cdfffd;
    width: 30px;
    height: 26px;
    border-radius: 0 0 36px 36px;
    box-shadow: 0 0 1px black;
}

.top:before {
    content: '';
    position: absolute;
    left: 2.5px;
    bottom: 2px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: linear-gradient(transparent 50%, #c60000 50%);
}

.left .top:before {
    animation: rotate2 2s linear infinite;
}

.right .top:before {
    animation: rotate1 2s linear infinite;
}

.top:after {
    content: '';
    position: absolute;
    top: 25px;
    left: 12px;
    width: 6px;
    height: 13px;
    background: #cdfffd;
    box-shadow: 0 0 1px black;
}

.left {
    display: inline-block;
    margin-right: 10px;
    animation: rotate1 2s cubic-bezier(.39, 1.52, .46, .92) infinite;
}

.right {
    display: inline-block;
    animation: rotate2 2s cubic-bezier(.39, 1.52, .46, .92) infinite;
}

@keyframes rotate1 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(22deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-22deg);
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 70px;
    height: 25px;
    position: relative;
    opacity: 0;
    animation: 2s fadeInUp infinite linear 2s;
}

li {
    width: 6px;
    height: 15px;
    background: black;
    position: absolute;
    box-shadow: 0 0 1px black;
    transform-origin: bottom;
}

li:nth-child(1) {
    left: 26px;
    bottom: 5px;
    transform: rotate(-35deg);
}

li:nth-child(2) {
    left: 34px;
    bottom: 8px;
}

li:nth-child(3) {
    left: 42px;
    bottom: 5px;
    transform: rotate(35deg);
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: scaleY(1);
    }

    33% {
        opacity: 1;
        transform: scaleY(1.4);
    }

    64% {
        opacity: .1;
        transform: scaleY(1);
    }

    100% {
        opacity: 0;
        transform: scaleY(.3);
    }
}*/

/*--- Logo ---*/
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 63px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    z-index: 9000;
}

/*--- Localisation ---*/
.search_form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 50px;
}

.container_icone_dot {
    width: 100%;
    width: 50px;
}

.container_icone-dot .fa-location-dot {
    width: 25px;
}

.container_search {
    margin-bottom: 20px;
    background-color: #EAEAEA;
}

.container_search, .container_description h1 {
    margin-bottom: 10px;
}

.search_form_txt {
    display: flex;
    width: auto;
    height: 100%;
    font-size: 16px;
    font-family: var(--font_text);
    font-weight: 500;
    padding-left: 9.25px;
    border: none;
    background-color: transparent;
}

.search_form_txt::placeholder {
    color: #000000;
}

.container_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    text-align: center;
}

.container_description h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 68px;
    width: 60%;
}

.container_description p {
    height: 46px;
    font-size: 18px;
}

/*--- Button "Explorez nos Restaurant" (ce bouton dois avoir un dégrader qui s'affiche progressivement au survol et fais l'inverse lors qu'on le quitte) --*/
.Explorer_Btn {
    display: flex;
    justify-content: center;
    padding-top: 27px;
    padding-bottom: 57px;
}

.GradientBtn {
    width: 218px;
    height: 50px;
    border-radius: 25px;
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font_text);
    transition: transform 0.5s cubic-bezier(0.2, -2, 0.8, 2);
    overflow: hidden;
    color: #fff;
    background: linear-gradient(200.64deg, var(--PrimaryColor) -5.2%, var(--SecondaryColor) 110.74%);
    position: relative;
}


.GradientBtn :before {
    position: absolute;
    content: '';
    opacity: 0;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, var(--PrimaryColor) -5.2%, var(--SecondaryColor) 110.74%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.25s ease-in-out;
    z-index: -1;
}

.GradientBtn:hover {
    transform: scale(1.1);
}

.GradientBtn:hover > :before {
    opacity: 1;
}


/*--- Button "Fonctionnement" ---*/
.container_functioning {
    height: 440px;
}

.container_functioning h2 {
    padding-left: 20px;
}

.FunctioningBtns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.FunctioningBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.FunctioningBtn .Btn-number {
    display: flex;
    height: 24px;
    width: 24px;
    background-color: var(--PrimaryColor);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 14.18px;
    font-weight: 500;
    font-family: var(--font_text);
    transform: translateX(-12px);
}

.FunctioningBtn svg {
    color: #7E7E7E;
}

.FunctioningBtn:hover {
    background-color: #F5EDFF;
}

.FunctioningBtn:hover svg {
    color: var(--PrimaryColor);
}

.FunctioningBtn {
    justify-content: start;
    height: 73px;
    width: calc(100% - 40px);
    border-radius: 20px;
    border: none;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    background-color: var(--BckgrndDefalutColorFunctioningBtn);
    color: #000000;
    gap: 20px;
}

/*--- Restaurants ---*/
.Container_Restaurants {
    display: flex;
    padding: 25px;
    background-color: var(--SearchAndRestauBckgrndColor);
    
}

.Section_Restaurants {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 64px;
}


.Section_Restaurants__Container_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    width: auto;
}

.Container_cards__card {
    width: 100%;
    height: 251px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: #ffffff;
    color: #000000;
    overflow: hidden;
    position: relative;
}

.Container_cards__card:hover {
    scale: 102%;
    box-shadow: 0px 10px 10px 15px rgba(0, 0, 0, 0.15);
}

.Container_cards__card.new::after {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    content: 'Nouveau';
    top: 10px;
    right: 10px;
    width: 80px;
    height: 29px;
    background-color: var(--TertiaryColor-Main);
    border-radius: 2px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    z-index: 2;
}

.card__Photo {
    width: 100%;
    height: 174px;
    object-fit: cover;
    object-position: 0 60%;
}

.card__Description {
    display: flex;
    justify-content: space-between;
    padding: 13px;
}

.card__Description h3 {
    margin-bottom: 5px;
}

.card__Description p {
    margin-bottom: 10px;
}


.NB2 {
    top: 143.6%;
}

/*.Container_cards__card, .card__Photo {
    max-width: 335px;
}*/

/*-- l'icone de coeur est une checkbox qui dois se remplir progressivement quand on le coche et inversement --*/
.LikeIconesSizeAndColor {
    /*height: 21px;*/
    font-size: 32px;
    width: auto;
    position: relative;
}


.LikeIconesSizeAndColor .heart {
    position: absolute;
    right: 0;
}

.LikeIconesSizeAndColor .heart.back {  
    color: black;
}

.LikeIconesSizeAndColor .heart.front {
    color: var(--SecondaryColor);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.LikeIconesSizeAndColor .heart.front:hover {   
    color: var(--PrimaryColor);
    opacity: 1;
    cursor: pointer;
}

/*label i {
    position: absolute;
    right: 0;
}

input[type="checkbox"].LikeCheckbox {
    color: #000000;
    display: none;
    
}

input[type="checkbox"].LikeCheckbox + label::before {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    color: var(--PrimaryColor);
}

input[type="checkbox"].LikeCheckbox:checked + label::before {
    opacity: 1;
}*/

/*--- Partie Footer ---*/
footer {
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: var(--BckgrndColorFooter);
    height: 173px;
    padding: 22px 25px;
}

footer h2 {
    font-family: var(--font_logo);
    padding-bottom: 16px;
}

footer a {
    font-size: 16px;
    font-weight: 500;
}

.FooterMenu {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.footer_a_FontWeigth_Secondary {
    font-weight: 400;
}

footer, footer h2, footer a,
.IconeColorFooter {
    color: #fff;
}

/*.fa-utensils {
    padding-right: 11px;
}

.fa-handshake-angle {
    padding-right: 10.08px;
}*/

.fa-handshake-angle, .fa-utensils {
    /*height: 13px;
    width: 11.92px;*/
    padding-right: 11px;
}

/*--- Media Querie ---*/
/*@media screen and (min-width:768px) {
    body {
        margin: 75px;
    }
}*/
