/*--- Color Variables and font style ---*/

:root {
    /*--- Couleur pour l'intérieur des flèches, le text du bouton "Explorez les menus", les cercles des numéros 1,2 et 3 et les iconnes quand on séléctionne dans la partie "Fonctionnement", et le dégrader ---*/
    --PrimaryColor: #9356DC;

    /*-- 2ème couleur pour le dégrader ---*/
    --SecondaryColor: #FF79DA;

    /*--- Couleur pour le fond de "Nouveau', le fond du cercle du "+", le fond de la sélection du plat et la couleur du "coché", et la ligne sous les éléments du menu---*/
    --TertiaryColor-Main: #99E2D0;

    /*--- Couleur pour le "+" et le mot "Nouveau" ---*/
    --TertiaryColor-Secondary: #008766;

    --jesaitpas1: #89C8FA;
    --jesaitpas2: #003A68;

    /*--- pour le logo en text ---*/
    --font_text: 'Roboto', sans-serif;

    /*--- pour le text en générale ---*/
    --font_logo: 'Shrikhand', cursive;

    /*--- Couleur de fond du footer ---*/
    --BckgrndColorFooter: #353535;

    /*--- Couleur de fond de la recherche et de la partie restaurants ---*/
    --SearchAndRestauBckgrndColor: #D2D2D2;

    /*--- ---*/
    --BckgrndDefalutColorFunctioningBtn: #F7F7F7;
}

/*--- Reset internet Browser ---*/
* {
    margin: 0;
    padding: 0;
}

/*--- Site margin default ---*/
body {
    color: #000000;
}

main {
    margin-top: 63px;
}

/*--- Site font default ---*/
h1, h2, h3, p, a {
    font-family: var(--font_text);
}

h1, h2, h3 {
    font-weight: 700;
}

h1, h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

p {
    font-weight: 300;
    font-size: 17px;
}

a {
    text-decoration: none;
}

/*--- Logo ---*/
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 63px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    z-index: 10000;
}

header img {
    height: 33.44px;
}

/*--- Localisation ---*/
.search_form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 50px;
}

.container_icone_dot {
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    width: 100%;
    width: 50px;
}

.container_icone-dot .fa-location-dot {
    width: 25px;
}

.container_search {
    margin-bottom: 20px;
    background-color: #EAEAEA;
}

.container_search, .container_description h1 {
    margin-bottom: 10px;
}

.search_form_txt {
    display: flex;
    width: auto;
    height: 100%;
    font-size: 16px;
    font-family: var(--font_text);
    font-weight: 500;
    padding-left: 9.25px;
    border: none;
    background-color: transparent;
}

.search_form_txt::placeholder {
    color: #000000;
}

.container_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    text-align: center;
}

.container_description h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 68px;
    width: 60%;
}

.container_description p {
    height: 46px;
    font-size: 18px;
}

/*.recherche-form button {
    width: 150px;
    height: 50px;
    background: var(--icones-color);
    border-radius: 0 15px 15px 0;
    border: none;
    font-weight: bold;
    font-size: 18px;
}

.recherche-bouton-txt {
    color: var(--text-card-and-search-color-white);
}*/

/*--- Button "Explorez nos Restaurant" ---*/
.Explorer_Btn {
    display: flex;
    justify-content: center;
    padding-top: 27px;
    padding-bottom: 57px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--PrimaryColor);
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font_text);
}

.Restau_Explorer_Btn {
    width: 218px;
    height: 50px;
    border-radius: 25px;
    border: none;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.Restau_Explorer_Btn:hover {
    color: #ffffff;
    background: linear-gradient(200.64deg, var(--PrimaryColor) -5.2%, var(--SecondaryColor) 110.74%);
}

/*--- Button "Fonctionnement" ---*/
.container_functioning {
    height: 440px;
}

.container_functioning h2 {
    padding-left: 20px;
}

.FunctioningBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.Btn-number {
    display: flex;
    flex-direction: row;
    height: 24px;
    width: 24px;
    background-color: var(--PrimaryColor);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 14.18px;
    font-weight: 500;
    font-family: var(--font_text);
    transform: translateX(-12px);
}

.FunctioningBtn button svg {
    color: #7E7E7E;
}

.FunctioningBtn button:hover {
    background-color: #F5EDFF;
}

.FunctioningBtn button:hover svg {
    color: var(--PrimaryColor);
}
.FunctioningBtn button {
    justify-content: start;
    height: 73px;
    width: 322px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    background-color: var(--BckgrndDefalutColorFunctioningBtn);
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font_text);
    color: #000000;
    gap: 20px;
}

/*--- Restaurants ---*/
.Container_Restaurants {
    display: flex;
    padding: 25px;
    background-color: var(--SearchAndRestauBckgrndColor);
    
}

.Section_Restaurants {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 64px;
}


.Section_Restaurants__Container_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    width: auto;
}

.Container_cards__card {
    width: 100%;
    height: 251px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background-color: #ffffff;
    color: #000000;
}

.card__Description {
    display: flex;
    justify-content: space-between;
    padding: 13px;
}

.card__Description h3 {
    margin-bottom: 5px;
}

.card__Description p {
    margin-bottom: 10px;
}

.NewBadge {

}

.card__Photo {
    width: 100%;
    height: 174px;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

.Container_cards__card, .card__Photo {
    max-width: 335px;
}

.LikeIconesSizeAndColor {
    height: 21px;
    width: auto;
    position: relative;
}

.LikeIconesSizeAndColor .heart {
    position: absolute;
    right: 0;
}

.LikeIconesSizeAndColor .heart.back {
   color: var(--PrimaryColor); 
}

.LikeIconesSizeAndColor .heart.front {
    color: var(--SecondaryColor);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.LikeIconesSizeAndColor .heart.front:hover {
    opacity: 1;
}

/*--- Partie Footer ---*/
footer {
    display: flex;
    flex-direction: column;
    width: auto;
    background-color: var(--BckgrndColorFooter);
    height: 173px;
    padding: 22px 25px;
}

footer h2 {
    font-family: var(--font_logo);
    padding-bottom: 16px;
}

footer a {
    font-size: 16px;
    font-weight: 500;
}

.FooterMenu {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.footer_a_FontWeigth_Secondary {
    font-weight: 400;
}

footer, footer h2, footer a,
.IconeColorFooter {
    color: #fff;
}

/*.fa-utensils {
    padding-right: 11px;
}

.fa-handshake-angle {
    padding-right: 10.08px;
}*/

.fa-handshake-angle, .fa-utensils {
    /*height: 13px;
    width: 11.92px;*/
    padding-right: 11px;
}

/*--- Media Querie ---*/
@media screen and (min-width:768px) {
    body {
        margin: 75px;
    }
}
